<launch>

  <arg name="robot_namespace"   default="turtlebot"/> <!-- robot's name used by plugin to publish topics -->
  <arg name="base_prefix"       default="mobile_base" />

  <arg name="custom_param_file" default="$(find chris_turtlebot_navigation)/param/dummy.yaml"/>
  <arg name="scan_topic"        default="hokuyo_node/scan"/>

  <!-- make sure our tf_prefix is set in case this is launched first -->
  <group ns="$(arg robot_namespace)">
    <param name="tf_prefix"       value="$(arg robot_namespace)_tf"/>
  </group>

  <!-- Planning and control -->
  <include file="$(find chris_turtlebot_navigation)/launch/includes/move_base.launch.xml">
    <arg name="robot_namespace"   value="$(arg robot_namespace)"/>
    <arg name="base_prefix"       value="$(arg base_prefix)" />
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
    <arg name="laser_topic"       value="$(arg scan_topic)" />
  </include>


</launch>
